@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #fff;
  --background: #171717;
  --gray-300: #8f8f8f;
  --gray-400: #606060;
  --gray-500: #3d3c3c;

  /* Height**/
  --header-height: 200px;
  --banner-height: 762px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #171717;
    --background: #fff;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
